<!-- archive product list -->
<div class="archive-product">
  <div class="ui stackable link cards">
    {% for catalog in catalogs %}
      <div class="card product-list" data-url="{{catalog.ID|get_the_permalink}}">
        <div class="image">
          {{catalog.ID|woocommerce_get_product_thumbnail|raw}}
        </div>
        <div class="content">
          <div class="header">{{catalog.post_title}}</div>
          <div class="meta">
            <a href="{{catalog.ID|get_product_taxonomy_value('jp_vehicles', 'link')}}">
              {{catalog.ID|get_product_taxonomy_value('jp_vehicles', 'name')|raw}}
            </a>
          </div>
          <div class="description">
            {{catalog.ID|get_description|raw}}
          </div>
        </div>
        
        {% if catalog.ID|has_price %}
        <div class="extra content">
          <div class="ui labels">
              <span class="ui red label price">
                {{catalog.ID|get_price}}
              </span>
          </div>
        </div>
        {% endif %}
        
      </div>
    {% endfor %}
  </div>
</div>
